<div class="homeContenedor">
    <section class="salario">
        <div class="container-fluid mt-2">
            <div class="row">
                <div class="col-6">
                    <h6>Hola</h6>
                </div>
                <div class="col-6 text-right">
                    <svg viewBox="0 0 16 16" class="bi bi-bell" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
                    <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                  </svg> </div>
            </div>
            <div class="card mx-auto  mt-3 text-white salarioColor">
                <div class="row usuarioResumen">
                    <div class="col-4 col-md-4 pl-4 mt-3">
                        <h6>Eres Estratega</h6>
                    </div>
                    <div class="col-8 col-md-8 usuarioImagenContenedor">
                        <img class="usuarioImagen" src="../../../assets/invest_card/UserImg.png" alt="User image">
                    </div>
                    <div class="col-12 pl-4">
                        <h6>Tu saldo</h6>
                        <h2>$ 322123131</h2>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <div class="card detailsCARD mx-auto pl-2 pr-2">
                        <table>
                            <tbody>
                                <tr class="details">
                                    <td>Inversión</td>
                                    <td class="text-right">kldasfjk</td>
                                </tr>
                                <tr>
                                    <td>Rendimiento</td>
                                    <td class="text-right">kjsadfkldas</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="metas">
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-6">
                    <h6>Tus metas</h6>
                </div>
                <div class="col-6 text-right">
                    <svg viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  </svg></div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="row">
                            <div class="col-12 pl-4 pt-3 mb-2">
                                <img src="../../../assets/goal_view/PalmeraImg.png" alt="palmera">
                            </div>
                            <div class="col-12 descriptionGoal pl-4">
                                <p>Viaje a Islas Canarias</p>
                            </div>
                            <div class="col-6 pl-4 pb-4">Barra de prograso</div>
                            <div class="col-6 pl-4 pb-4">saldos</div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="row">
                            <div class="col-12 pl-4 pt-3 mb-2">
                                <img src="../../../assets/goal_view/PcImg.png" alt="pc">
                            </div>
                            <div class="col-12 descriptionGoal pl-4">
                                <p>Mackbook pro</p>
                            </div>
                            <div class="col-6 pl-4 pb-4">Barra de prograso</div>
                            <div class="col-6 pl-4 pb-4">saldos</div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>


    <section class="portafolio">
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-8">
                    <h6>Conoce tu portafolio</h6>
                </div>
                <div class="col-4 text-right">
                    <p class="estrategia">Estratega</p>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-6">SVG</div>
                    <div class="col-6">slider</div>
                    <div class="col-12">Datos</div>
                </div>
            </div>

        </div>
    </section>
    <section class="pautasAhorro">
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-12">
                    <h6>Los p*t@s del ahorro</h6>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-12">video</div>
                </div>
            </div>
            <div class="col-12">
                slider
            </div>
            <div class="card">
                <div class="row details m-2 pt-2">
                    <div class="col-8">
                        <p>10 gastos que debes evitar</p>
                        <p style="font-size: xx-small;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, unde provident. Magni nam possimus placeat tenetur corporis natus rem fuga, at aperiam pariatur provident recusandae temporibus nihil, quia saepe. Eum!</p>
                    </div>
                    <div class="col-4"><img src="../../../assets/blog/IMG1.png" alt="img1" style="width: 100px; position: absolute; left: 0px; top: 10px;"></div>
                </div>

                <div class="row details m-2 ">
                    <div class="col-8">
                        <p>10 gastos que debes evitar</p>
                        <p style="font-size: xx-small;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, unde provident. Magni nam possimus placeat tenetur corporis natus rem fuga, at aperiam pariatur provident recusandae temporibus nihil, quia saepe. Eum!</p>
                    </div>
                    <div class="col-4"><img src="../../../assets/blog/IMG2.png" alt="img2" style="width: 100px; position: absolute; left: 0px; top: 10px;"></div>
                </div>

                <div class="row  m-2 ">
                    <div class="col-8">
                        <p>10 gastos que debes evitar</p>
                        <p style="font-size: xx-small;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, unde provident. Magni nam possimus placeat tenetur corporis natus rem fuga, at aperiam pariatur provident recusandae temporibus nihil, quia saepe. Eum!</p>
                    </div>
                    <div class="col-4"><img src="../../../assets/blog/IMG3.png" alt="img3" style="width: 100px; position: absolute; left: 0px; top: 10px;"></div>
                </div>
            </div>

        </div>
    </section>
</div>