<!-- <div class="container">
    <div id="carouselExampleControls" class="row carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner col-12 col-sm-12 bg-info">
            <div class="row carousel-item active">
                <div class="col-12">
                    Titulo
                </div>
                <div class="col-12">
                    subtitle
                </div>
                <div class="col-12">
                    $47887
                </div>
                <div class="col-12">
                    subsubtitle
                </div>
                <div class="col-12">
                    parrafos
                </div>
            </div>
            <div class="carousel-item">
                Slider 2
            </div>
            <div class="carousel-item">
                Slider 3
            </div>
        </div>
        <a class="carousel-control-prev col-6 bg-primary" href="#carouselExampleControls" role="button" data-slide="prev">
            <span  aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="skandia" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row ml-2">
                            <div class="col-6 pl-0"><img src="../../../../assets/logo.png" alt="logo"></div>
                            <div class="col-6 text-right">
                                <p class="totalEfectivo">15%</p>
                            </div>
                            <div class="col12 ">
                                <h6>FIC Old Mutual Efectivo</h6>
                                <h6>$ 240.000</h6>
                                <p style="font-size: xx-small; margin-bottom:0;color:#41CF69">Tipo de activo</p>
                                <p style="font-size: xx-small; margin-bottom:0">Renta Fija</p>
                                <p style="font-size: xx-small; margin-bottom:0">Depósito a la fija</p>
                            </div>
                        </div>


                    </div>
                    <div class="carousel-item">
                        slider2
                    </div>
                    <div class="carousel-item">
                        slider3
                    </div>
                    <div class="carousel-item">
                        slider4
                    </div>
                    <div class="carousel-item">
                        slider5
                    </div>
                    <div class="carousel-item">
                        slider6
                    </div>
                    <div class="carousel-item">
                        slider7
                    </div>
                    <div class="carousel-item">
                        slider8
                    </div>
                    <div class="carousel-item">
                        slider9
                    </div>
                    <div class="carousel-item">
                        slider10
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">

            <a class="ml-4 carousel-control-prev" href="#skandia" role="button" data-slide="prev">
                <span aria-hidden="true"> <img src="../../../../assets/Frame 73.png" alt=""></span>
            </a>
            <a class="mr-4 carousel-control-next" href="#skandia" role="button" data-slide="next">
                <span aria-hidden="true"><img src="../../../../assets/Frame 74.png" alt=""></span>
            </a>
        </div>
    </div>
</div>