<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-8">
            <h6>Conoce tu portafolio</h6>
        </div>
        <div class="col-4 text-right">
            <p class="estrategia">Estratega</p>
        </div>
    </div>
    <div class="card">
        <div class="row mt-2 ml-2 ">
            <div class="col-4 mt-2" style="z-index: 5;">
                <svg-portafolio></svg-portafolio>
            </div>
            <div class="col-8 ">
                <app-carousel></app-carousel>
            </div>
            <div class="col-12 mt-4 ">
                <p class="p-2" style="font-size: 10px;"> Tu dinero se invierte de la forma más eficiente de acuerdo al perfil de riesgo asignado por nuestro RoboAdvisor.</p>
            </div>
        </div>
    </div>

</div>